## Crawler to get info from Trovit

Install Libraries

In [2]:
!pip install selenium

Requirement already satisfied: selenium in /Users/pablogoya/opt/anaconda3/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/pablogoya/opt/anaconda3/lib/python3.8/site-packages (from selenium) (1.25.9)

In [ ]:
!pip install webdriver-manager

In [2]:
import pandas as pd
import numpy
import time
from random import randint
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException

In [115]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.utils import ChromeType

driver = webdriver.Chrome(ChromeDriverManager(chrome_type=ChromeType.GOOGLE).install())

driver.get('https://casas.trovit.es/')

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [/Users/pablogoya/.wdm/drivers/chromedriver/mac64/87.0.4280.88/chromedriver] found in cache

Defining scrapper function for Trovit

In [21]:
#Scrapping the Trovit website with multiple for loops

def trvt_scrapper(min_size,max_size,pages):
    
    #driver.get('https://casas.trovit.es/')
    
    #Cleaning lists:
 
    list_prices=[]
    list_features=[]
    list_locations=[]

    list_prices_full=[]
    list_features_full=[]
    list_locations_full=[]

#Scrapper with multiple for loops over the Trovit website

#First loop goes through each page and adds up the data to be able to build the DataFrame
    
    for u in range (1,pages+1):

        url1='https://casas.trovit.es/index.php/cod.search_homes/type.1/what_d.madrid/origin.2/price_min.100000/rooms_min.1/photo.1/area_min.'
        url2='/area_max.'
        url3='/bathrooms_min.1/order_by.relevance/region.Madrid/resultsPerPage.25/isUserSearch.1/page.'
        driver.get(url1+str(min_size)+url2+str(max_size)+url3+str(u))
        
    #This is just to avoid robot blocking your IP
        time.sleep(randint(1,6))

    #This loop scrolls down automatically to replicate users browsing behaviour

        for i in range (randint(8,13)):

            html_txt=driver.page_source
            soup=BeautifulSoup(html_txt)
        
        #Create the BeautifulSoup searches

            locations=soup.find_all(attrs={'itemprop': 'address'})
            prices=soup.find_all('span',class_="amount")  
            features=soup.find_all('div' ,class_="property")
            
            list_prices=[]
            list_locations=[]
            list_features=[]

        #Search across the page for these parameters
        
            for price in prices:
                title1=price.getText()
                list_prices.append(title1)
            for feature in features:
                title2=feature.getText()
                list_features.append(title2)
            for location in locations:
                title3=location.getText()
                list_locations.append(title3)

            ActionChains(driver).key_down(Keys.PAGE_DOWN).key_up(Keys.PAGE_DOWN).perform()
            time.sleep(randint(1,15)/10)

    #Put all the data together, one page per loop, to pass it to the next step and build the dataset

        list_prices_full=list_prices_full+list_prices
        list_features_full=list_features_full+list_features
        list_locations_full=list_locations_full+list_locations

    
#Building the full DataFrame with all read data through the scrapper

    list_locations_full= [i.split(',', 1)[0] for i in list_locations_full]
    list_locations_full= [x.strip(' ') for x in list_locations_full]

    list_features_full_splitted = [list_features_full[i*3:(i+1)*3] for i in range((len(list_features_full)+3-1)//3)] 
    features_df= pd.DataFrame(list_features_full_splitted)
    features_df.columns= ['rooms','bathrooms','size']

    houses_list_full=[list_prices_full,list_locations_full]
    result_trvt_df=pd.DataFrame()
    result_trvt_df=pd.DataFrame (houses_list_full).transpose()
    result_trvt_df.columns=['prices','post_code']
    result_trvt_df= pd.concat([result_trvt_df, features_df], axis=1)   
              

    return result_trvt_df

Building the dataset with consecutive searches using the Trovit scrapper

In [116]:
df_mad_30_50=trvt_scrapper(30,50,100)
time.sleep(randint(60,120))

In [117]:
df_mad_50_60=trvt_scrapper(50,60,100)
time.sleep(randint(60,120))

In [9]:
df_mad_60_70=trvt_scrapper(60,70,100)
time.sleep(randint(60,120))

In [118]:
df_mad_70_75=trvt_scrapper(70,75,100)
time.sleep(randint(60,120))

In [119]:
df_mad_75_80=trvt_scrapper(75,80,100)
time.sleep(randint(60,120))

In [14]:
df_mad_80_85=trvt_scrapper(80,85,100)
time.sleep(randint(60,120))

In [22]:
df_mad_85_90=trvt_scrapper(85,90,100)
time.sleep(randint(60,120))

In [23]:
df_mad_90_95=trvt_scrapper(90,95,100)
time.sleep(randint(60,120))

In [142]:
df_mad_95_100=trvt_scrapper(95,100,100)
time.sleep(randint(60,120))

In [28]:
df_mad_100_105=trvt_scrapper(100,105,100)
time.sleep(randint(60,120))

In [31]:
df_mad_105_110=trvt_scrapper(105,110,100)
time.sleep(randint(60,120))

In [32]:
df_mad_110_120=trvt_scrapper(110,120,100)
time.sleep(randint(600,1200))

In [38]:
df_mad_120_140=trvt_scrapper(120,140,100)
time.sleep(randint(600,1200))

In [39]:
df_mad_140_160=trvt_scrapper(140,160,100)
time.sleep(randint(600,1200))

In [144]:
df_mad_160_200=trvt_scrapper(160,200,100)

In [145]:
print(df_mad_30_50.shape)
print(df_mad_50_60.shape)
print(df_mad_60_70.shape)
print(df_mad_70_75.shape)
print(df_mad_75_80.shape)
print(df_mad_80_85.shape)
print(df_mad_85_90.shape)
print(df_mad_90_95.shape)
print(df_mad_95_100.shape)
print(df_mad_100_105.shape)
print(df_mad_105_110.shape)
print(df_mad_110_120.shape)
print(df_mad_120_140.shape)
print(df_mad_140_160.shape)
print(df_mad_160_200.shape)

(2840, 5)
(2820, 5)
(2764, 5)
(2884, 5)
(2329, 5)
(2840, 5)
(2824, 5)
(2812, 5)
(2884, 5)
(2800, 5)
(2804, 5)
(2788, 5)
(2860, 5)
(2804, 5)
(2652, 5)

In [146]:
df_mad_160_200

          prices               post_code     rooms bathrooms    size
0       495.000€                   28231   3 hab      3 wc    200 m²
1       558.000€                   28232   3 hab      2 wc    185 m²
2       326.000€  Comunidad de Madrid \n   8 hab      5 wc    179 m²
3       695.000€                   28023   3 hab      2 wc    164 m²
4     1.190.000€  Comunidad de Madrid \n   4 hab      4 wc    200 m²
...          ...                     ...       ...       ...     ...
2647    424.000€          Los Berrocales   5 hab      4 wc    200 m²
2648    980.000€  Comunidad de Madrid \n   3 hab      3 wc    190 m²
2649  1.418.000€  Comunidad de Madrid \n   5 hab      2 wc    180 m²
2650    955.000€                   28023   4 hab      3 wc    185 m²
2651    585.000€                   28005   1 hab      2 wc    198 m²

[2652 rows x 5 columns]

In [147]:
#Concatenate all dataframes into one with all the houses in Madrid
df_mad_over100k=pd.concat([df_mad_30_50,df_mad_50_60,df_mad_60_70,df_mad_70_75,df_mad_75_80,df_mad_80_85,df_mad_85_90,df_mad_90_95,df_mad_95_100,df_mad_100_105,df_mad_105_110,df_mad_110_120,df_mad_120_140,df_mad_140_160,df_mad_160_200])

In [148]:
#Cleaning data to delete spaces and wrong post codes

df_mad_over100k.post_code=df_mad_over100k.post_code.str.strip()

df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('a'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('e'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('i'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('o'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('u'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('á'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('é'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('í'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('ó'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('ú'),['post_code']]='0'
df_mad_over100k.loc[df_mad_over100k['post_code'].str.contains('A'),['post_code']]='0'

In [149]:
df_mad_over100k['post_code']=df_mad_over100k['post_code'].astype(int)

In [159]:
#Save to csv
df_mad_over100k.to_csv(r'/Users/pablogoya/Documents/Master DS/TFM/df_mad_over100k.csv')

Reading the postcodes file to get latlons of the centre of each post code

In [88]:
post_codes_spain=pd.read_csv('latlons_by_postcode_madrid.csv',sep=',')

In [205]:
df_mad_over100k=pd.read_csv('df_mad_over100k.csv')

In [90]:
post_codes_spain.columns

Index(['provincia', 'poblacion', 'codigopostalid', 'lat', 'lon'], dtype='object')

In [ ]:
post_codes_spain=post_codes_spain.drop(columns=['provincia'])

In [151]:
df_mad_over100k.columns

Index(['prices', 'post_code', 'rooms', 'bathrooms', 'size'], dtype='object')

In [206]:
df_mad_over100k=df_mad_over100k.drop(columns=['Unnamed: 0','codigopostalid'])

In [152]:
df_mad_over100k['post_code'].value_counts()

0        14667
28850      602
28004      599
28006      571
28025      563
         ...
41710        1
28195        1
16470        1
36202        1
28594        1
Name: post_code, Length: 337, dtype: int64

In [189]:
df_mad_over100k=df_mad_over100k.merge(post_codes_spain,left_on='post_code',right_on='codigopostalid')

In [207]:
df_mad_over100k['poblacion'].value_counts()

San Blas               807
Alcalá de Henares      756
Las Rozas de Madrid    613
Torrejón de Ardoz      602
Justicia               599
                      ...
Villar del Olmo          1
Lozoya                   1
Valdaracete              1
Cervera de Buitrago      1
Berzosa del Lozoya       1
Name: poblacion, Length: 196, dtype: int64

In [155]:
df_mad_over100k=df_mad_over100k.rename(columns={'lat':'lon2','lon':'lat'})

In [156]:
df_mad_over100k=df_mad_over100k.rename(columns={'lon2':'lon'})

In [302]:
df_mad_over100k

,prices,post_code,rooms,bathrooms,size,poblacion,lon,lat,latlon
0,"112,062",28031,1 hab,1 wc,49 m²,Villa Vallecas,-3.687601,40.408412,"(40.40841191, -3.68760088)"
1,"137,0,0",28031,1 hab,1 wc,32 m²,Villa Vallecas,-3.687601,40.408412,"(40.40841191, -3.68760088)"
2,",00,0,0",28031,3 hab,1 wc,48 m²,Villa Vallecas,-3.687601,40.408412,"(40.40841191, -3.68760088)"
3,",00,0,0",28031,3 hab,1 wc,48 m²,Villa Vallecas,-3.687601,40.408412,"(40.40841191, -3.68760088)"
4,"135,0,0",28031,1 hab,1 wc,49 m²,Villa Vallecas,-3.687601,40.408412,"(40.40841191, -3.68760088)"
...,...,...,...,...,...,...,...,...,...
26562,"1,0,0,0",28193,4 hab,1 wc,184 m²,Cervera de Buitrago,-3.530471,40.922194,"(40.92219447, -3.5304711)"
26563,"3,0,0,0",28512,4 hab,2 wc,189 m²,Villar del Olmo,-3.235360,40.336173,"(40.33617307, -3.23536001)"
26564,"2,0,0,0",28595,4 hab,3 wc,200 m²,Estremera,-3.105883,40.184816,"(40.18481639, -3.10588334)"
26565,"145,0,0",28595,3 hab,3 wc,200 m²,Estremera,-3.105883,40.184816,"(40.18481639, -3.10588334)"
26566,"4,0,0,0",28749,3 hab,3 wc,195 m²,Rascafría,-3.880960,40.905666,"(40.90566571, -3.88095982)"

In [217]:
df_mad_over100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26567 entries, 0 to 26566
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prices     26567 non-null  object
 1   post_code  26567 non-null  int64
 2   rooms      26567 non-null  object
 3   bathrooms  26567 non-null  object
 4   size       26567 non-null  object
 5   poblacion  26567 non-null  object
 6   lon        26567 non-null  float64
 7   lat        26567 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.6+ MB

In [132]:
import matplotlib.pyplot as plt

Test Scrapper for Trovit with only first 3 pages to see how it works and show first results in a DataFrame

In [ ]:
trvt_scrapper(50,150,3)